# Исключаем настройки среды разработки
.idea/

# Исключаем системные файлы
.DS_Store
Thumbs.db

# Исключаем сборочные артефакты и временные файлы
/build/
/dist/
*.exe
*.dll
*.so
*.dylib
*.test
*.log
*.out
*.tmp
*.swp
*.swo

# Исключаем директории для зависимостей
/vendor/
node_modules/

# Исключаем файлы модулей Go, так как они будут загружены при сборке
/go.sum
/go.mod

# Исключаем кеш Go
/.cache/

# Исключаем Docker файлы, которые не нужны для сборки образа
docker-compose.override.yml
.env
